services:
{{#each instances_by_id}}{{#if aspects.docker_container}}{{#unless (eq id "global")}}
  {{id}}:
{{#if aspects.docker_container.image}}
    image: {{aspects.docker_container.image}}
{{/if}}
{{#if aspects.docker_container.build}}
{{#if (eq (typeof aspects.docker_container.build) "string")}}
    build: {{aspects.docker_container.build}}
{{else}}
    build:
      context: {{aspects.docker_container.build.context}}
{{#if aspects.docker_container.build.dockerfile}}
      dockerfile: {{aspects.docker_container.build.dockerfile}}
{{/if}}
{{#if aspects.docker_container.build.target}}
      target: {{aspects.docker_container.build.target}}
{{/if}}
{{#if aspects.docker_container.build.args}}
      args:
{{#each aspects.docker_container.build.args}}
        {{@key}}: {{this}}
{{/each}}
{{/if}}
{{/if}}
{{/if}}
    container_name: {{id}}
{{#if aspects.docker_container.command}}
    command: {{aspects.docker_container.command}}
{{/if}}
{{#if aspects.docker_container.working_dir}}
    working_dir: {{aspects.docker_container.working_dir}}
{{/if}}
{{#if aspects.docker_container.restart_policy}}
    restart: {{aspects.docker_container.restart_policy}}
{{/if}}
{{#if aspects.docker_container.ports}}
    ports:
{{#each aspects.docker_container.ports}}
      - "{{this}}"
{{/each}}
{{/if}}
{{#if aspects.docker_container.volumes}}
    volumes:
{{#each aspects.docker_container.volumes}}
      - {{this}}
{{/each}}
{{/if}}
{{#if aspects.docker_container.environment}}
    environment:
{{#each aspects.docker_container.environment}}
      {{@key}}: "{{this}}"
{{/each}}
{{/if}}
{{#if aspects.docker_container.networks}}
    networks:
{{#each aspects.docker_container.networks}}
      - {{this}}
{{/each}}
{{/if}}
{{#if aspects.docker_container.depends_on}}
    depends_on:
{{#each aspects.docker_container.depends_on}}
      - {{this}}
{{/each}}
{{else}}{{#if relations.[manages/managed_by]}}
    depends_on:
{{#each relations.[manages/managed_by]}}
      - {{this}}
{{/each}}
{{else}}{{#if relations.[monitors/monitored_by]}}
    depends_on:
{{#each relations.[monitors/monitored_by]}}
      - {{this}}
{{/each}}
{{/if}}{{/if}}{{/if}}
{{#if aspects.docker_container.healthcheck}}
    healthcheck:
      test: [{{#each aspects.docker_container.healthcheck.test}}"{{this}}"{{#unless @last}}, {{/unless}}{{/each}}]
{{#if aspects.docker_container.healthcheck.interval}}
      interval: {{aspects.docker_container.healthcheck.interval}}
{{/if}}
{{#if aspects.docker_container.healthcheck.timeout}}
      timeout: {{aspects.docker_container.healthcheck.timeout}}
{{/if}}
{{#if aspects.docker_container.healthcheck.retries}}
      retries: {{aspects.docker_container.healthcheck.retries}}
{{/if}}
{{#if aspects.docker_container.healthcheck.start_period}}
      start_period: {{aspects.docker_container.healthcheck.start_period}}
{{/if}}
{{/if}}
{{#if aspects.docker_container.deploy}}
    deploy:
{{#if aspects.docker_container.deploy.resources}}
      resources:
{{#if aspects.docker_container.deploy.resources.limits}}
        limits:
{{#if aspects.docker_container.deploy.resources.limits.cpus}}
          cpus: '{{aspects.docker_container.deploy.resources.limits.cpus}}'
{{/if}}
{{#if aspects.docker_container.deploy.resources.limits.memory}}
          memory: {{aspects.docker_container.deploy.resources.limits.memory}}
{{/if}}
{{/if}}
{{#if aspects.docker_container.deploy.resources.reservations}}
        reservations:
{{#if aspects.docker_container.deploy.resources.reservations.cpus}}
          cpus: '{{aspects.docker_container.deploy.resources.reservations.cpus}}'
{{/if}}
{{#if aspects.docker_container.deploy.resources.reservations.memory}}
          memory: {{aspects.docker_container.deploy.resources.reservations.memory}}
{{/if}}
{{/if}}
{{/if}}
{{/if}}
{{/unless}}{{/if}}{{/each}}

networks:
{{#each instances_by_id}}{{#if aspects.docker_network}}{{#unless (eq id "global")}}
  {{id}}:
{{#if aspects.docker_network.driver}}
    driver: {{aspects.docker_network.driver}}
{{/if}}
{{/unless}}{{/if}}{{/each}}

volumes:
{{#each instances_by_id}}{{#if aspects.docker_volume}}{{#unless (eq id "global")}}
  {{id}}:
{{#if aspects.docker_volume.driver}}
    driver: {{aspects.docker_volume.driver}}
{{/if}}
{{/unless}}{{/if}}{{/each}}

