<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{{yield "page_title" ""}}}{{{yield "title_separator" ""}}}{{@root.$instances_by_id.global.site.title}}</title>
  {{#each @root.$instances_by_id.global.stylesheets}}
  <link rel="stylesheet" href="{{{../pathPrefix}}}{{this}}">
  {{/each}}
  {{{yield "extra_head" ""}}}
</head>
<body>
  {{> partials/nav.html}}

  <main>
    {{{yield "content"}}}
  </main>

  {{> partials/footer.html}}
</body>
</html>
