<!DOCTYPE html>
<html lang="en">
{{> partials/head pageTitle=title pathPrefix=pathPrefix}}
<body>
  {{> partials/nav pathPrefix=pathPrefix}}

  <article>
    <h1>{{title}}</h1>
    <div class="post-meta">
      {{aspects.blog_post.date}} • {{aspects.blog_post.author}}
    </div>
    <div class="post-content">
      <p>{{{replace (escape aspects.blog_post.content) "\n\n" "</p><p>"}}}</p>
    </div>
    {{#if aspects.blog_post.tags}}
    {{> partials/tags pathPrefix=pathPrefix tags=aspects.blog_post.tags}}
    {{/if}}
  </article>

  {{> partials/footer pathPrefix=pathPrefix}}
</body>
</html>
