{{!-- Tag Index Layout using Buffer System --}}

{{!-- Set page metadata --}}
{{#buffer name="page_title"}}Tag: {{tagName}}{{/buffer}}
{{#buffer name="title_separator"}} - {{/buffer}}

{{!-- Main content --}}
{{#buffer name="content"}}
  <article>
    <h1>Posts tagged: {{tagName}}</h1>
    <p class="post-meta">{{postCount}} {{#if (eq postCount 1)}}post{{else}}posts{{/if}} with this tag</p>

    <section>
      {{#each posts}}
      <article class="post-summary">
        <h2><a href="{{../pathPrefix}}posts/{{slug}}.html">{{title}}</a></h2>
        <p class="post-meta">
          <time datetime="{{aspects.blog_post.date}}">{{aspects.blog_post.date}}</time>
          {{#if aspects.blog_post.author}}by {{aspects.blog_post.author}}{{/if}}
        </p>
        {{#if description}}
        <p>{{description}}</p>
        {{/if}}
        {{> partials/tags tags=aspects.blog_post.tags}}
      </article>
      {{/each}}
    </section>
  </article>
{{/buffer}}

{{!-- Render with base layout --}}
{{> layouts/base}}
