{{!-- Blog Post Layout using Buffer System --}}

{{!-- Extend base layout --}}
{{extends "layouts/base.html"}}

{{!-- Set page metadata --}}
{{#buffer name="page_title"}}{{title}}{{/buffer}}
{{#buffer name="title_separator"}} - {{/buffer}}

{{!-- Main content --}}
{{#buffer name="content"}}
  <article>
    <h1>{{title}}</h1>
    <div class="post-meta">
      {{aspects.blog_post.date}} • {{aspects.blog_post.author}}
    </div>
    <div class="post-content">
      <p>{{{replace (escape aspects.blog_post.content) "\n\n" "</p><p>"}}}</p>
    </div>
    {{#if aspects.blog_post.tags}}
    {{> partials/tags.html tags=aspects.blog_post.tags}}
    {{/if}}
  </article>
{{/buffer}}
