{{!-- Homepage using Buffer System --}}

{{!-- Set page metadata --}}
{{#buffer name="page_title"}}{{global.site.title}}{{/buffer}}
{{#buffer name="title_separator"}}{{/buffer}}

{{!-- Main content --}}
{{#buffer name="content"}}
  <h1>{{global.site.title}}</h1>
  <p>{{global.site.description}}</p>

  <h2>Recent Posts</h2>
  {{#each instances}}
  {{#if (eq class "blog_post")}}
  <article class="post">
    <h3><a href="posts/{{slug}}.html">{{title}}</a></h3>
    <div class="post-meta">
      {{aspects.blog_post.date}} • {{aspects.blog_post.author}}
    </div>
    <p>{{description}}</p>
    {{#if aspects.blog_post.tags}}
    {{> partials/tags tags=aspects.blog_post.tags}}
    {{/if}}
  </article>
  {{/if}}
  {{/each}}
{{/buffer}}

{{!-- Render with base layout --}}
{{> layouts/base}}

{{!-- Generate individual blog post pages using render_file helper --}}
{{#each instances}}
{{#if (eq class "blog_post")}}
{{render_file "layouts/blog-post" (concat "posts/" slug ".html")}}
{{/if}}
{{/each}}

{{!-- Generate individual page files using render_file helper --}}
{{#each instances}}
{{#if (eq class "page")}}
{{render_file "layouts/page" (concat slug ".html")}}
{{/if}}
{{/each}}

{{!-- Generate tag index pages --}}
{{#each (unique (flatten (pluck (where instances "class" "blog_post") "aspects.blog_post.tags")))}}
{{render_file "layouts/tag" (concat "tags/" this ".html") tagName=this posts=(where_includes @root.instances "aspects.blog_post.tags" this)}}
{{/each}}
